html{
  background-color: rgb(244, 243, 235);
}

.App {
  text-align: center;
  background-color: rgb(244, 243, 235);
  color: rgba(67, 60, 60, 0.845);
  font-family: 'Nunito', sans-serif;

}

.App-header {
  background-image: url('../App/teal.jpg');
  background-repeat: no-repeat;
  box-shadow: 4px 4px 4px grey;
  background-size: cover;
  min-height: 50px;
  padding: 10px;
  color: white;
  text-align: center;

}

.App-title {
  font-size: 3rem;
}

.App-intro {
  font-size: large;
}


h4{
  margin-top: 0;
}

h1{
  margin: 0;
  padding-top: 1rem;
}

.inner-div{
    margin-right: 10rem;
    margin-left: 10rem;
    text-align: center;
}

