html{
  background-color: rgb(223, 228, 228);
}

.App {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  background-color: rgb(223, 228, 228);
  color: rgba(67, 60, 60, 0.845);
}

.App-header {
  background-color: #3ba9abcb;
  min-height: 50px;
  padding: 8px;
  color: white;
}

.App-title {
  font-size: 3rem;
}

.App-intro {
  font-size: large;
}


h4{
  margin-top: 0;
}

h1{
  margin: 0;
  padding-top: 1rem;
}

.inner-div{
    margin-right: 10rem;
    margin-left: 10rem;
}

